  * {
  margin: 0; 
  padding: 0;
   box-sizing: border-box; 
   font-family: "Poppins", sans-serif; 
  } 
  body {
     background: #ffffff; }

  .otp-container {
    flex-direction: column;
    justify-content: center;
    padding: 15px;
  }

  .otp-left {
    display: none;
  }

  .otp-right {
    max-width: 100%;
  }

  .otp-right h4 {
    font-size: 28px;
  }

  .otp-right p {
    font-size: 16px;
  }

  .otp-inputs {
    gap: 10px;
  }

  .otp-inputs input {
    width: 48px;
    height: 48px;
    font-size: 24px;
  }

  .verify-btn {
    height: 50px;
    font-size: 18px;
  }

  .back-btn {
    margin-bottom: 30px;
    font-size: 16px;
  }


@media (max-width: 320px) {

  .otp-container {
    padding: 5px;
    min-height: 100vh;
    justify-content: center;
  }

  .otp-left {
    display: none;
  }

  .otp-right {
    width: 100%;
    max-width: 100%;
  }

  .back-btn {
    margin-bottom: 20px;
    font-size: 14px;
  }

  .otp-right h4 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .otp-right p {
    font-size: 14px;
    line-height: 1.5;
  }

  .otp-inputs {
    gap: 6px;
    margin: 25px 0 18px;
  }

  .otp-inputs input {
    width: 42px;
    height: 42px;
    font-size: 20px;
    border-radius: 8px;
  }

  .resend {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .verify-btn {
    height: 48px;
    font-size: 16px;
  }
}
@media (max-width: 768px) {

  .otp-container {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap:10px;
    height:auto;
    min-height: auto;
        
    
  }

  .otp-left {
    display: none;
  }

  .otp-right {
    width: 100%;
    max-width: 400px;
    margin-top:0;
  }

  .otp-right h4 {
    font-size: 28px;
  }

  .otp-right p {
    font-size: 16px;
  }

  .otp-inputs {
    gap: 5px;
  }

  .otp-inputs input {
    height: 34px;
  }

  .verify-btn {
    height: 50px;
    font-size: 18px;
  }

  .back-btn {
    margin-bottom: 20px;
  }
}